version: "{build}"

branches:
  only:
    - master

environment:
  GOPATH: c:\gopath
  GO_VERSION: 1.14

install:
  # Install specific Go version
  - rmdir c:\go /s /q
  - appveyor DownloadFile https://storage.googleapis.com/golang/go%GO_VERSION%.windows-amd64.msi
  - msiexec /i go%GO_VERSION%.windows-amd64.msi /q
  # Add GOPATH to reference installed binary
  - set PATH=%GOPATH%\bin;%PATH%
  # Add MinGW for gcc
  - set PATH=c:\msys64\mingw64\bin;%PATH%

build_script:
  - go install

test_script:
  - tusk --quiet test --verbose
